.messages {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.messagesItems{
   padding: 10px;
}

.messagesItems .active {
    color: antiquewhite;
}

.messagesContent {
    padding: 10px;
}

.messageName a {
    text-decoration: none;
    color: black;
}

.message {
    color: black;
}


